* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.titulos {
    font-family: 'Playfair Display', serif;
    width: 100%;
}


.informaciondeinteres {
   
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: solid 5px rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.informaciondeinteres__servicioalcliente {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:70px;
}

.informaciondeinteres__links {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:70px;
}

.informaciondeinteres__nuestrobanco {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:70px;
}


.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 40px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgb(255, 255, 255);
    }
}

.header {
    background-color: rgb(255, 255, 255);
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.header__logo {
   border: 5%  ;
   width: 100%;
}

.header__titulo {
    border: 5%;
    text-align: center;
    margin-top: 20%;
}

.header__ingresar {
    border: 5% ;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
    text-align: center;
    width: max-content;
    height: max-content;
    top: 40%;
    left: 25%;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
}
 
.btn-neon:hover {
    background: #cb8cdf;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#cb8cdf);
}
.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}
#span2 {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#cb8cdf);
}
.btn-neon:hover #span2 {
    left: 100%;
    transition: 1s;
}
#span3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#cb8cdf);
}
.btn-neon:hover #span3 {
    right: 100%;
    transition: 2s;
}

#span4 {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#cb8cdf);
}
.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

@media screen and (min-width: 768px){
    .toggle-menu  {
       display: none;
    }  
}

.main-menu {
 list-style: none;
 margin-top:1%;
 margin-bottom: 0;
 padding-left: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #e8c9f1;
 transform: translateY(-100%);
 transition: transform 0.3s ;  
 justify-content: space-around; 
 font-family: 'Roboto Slab', serif;
}


    a:hover {
        color: #AD1457;
    }
    
    a:active {
        color: #311B92;
    }
    
    


@media screen and (min-width: 768px){
    .toogle-menu  {
       display: none;
    }  
}

.main-menu--show {
    transform: translateY(0);
}

.toggle-menu__checkbox:checked + .main-menu {
    transform: translateY(0);
}

.toggle-menu__checkbox {
    display:none;
}

@media screen and (min-width: 768px){
    .main-menu {
        flex-direction:row;
        text-align: center;
        transform: translateY(0);
    }    
}

.main-menu__item {
    padding: 1em;
} 

.main-menu__link {
color: rgb(0, 0, 0);
text-decoration: uppercase;
text-decoration: none;
}


.toggle-menu {
    width: 40px;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(0);
    z-index: 1;
}

.hambur {
    max-width: 100%;
}


.listafooter__li {
text-decoration: none;
list-style: none;
line-height: 1.5;
font-size: 14px;
margin:1rem;
}



.derechos {
    font-size: larger;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
        
}

.contenedorbanner__banner2 {
    width: 100%;
    height: 400px;
    border: 0.1px solid rgb(255, 255, 255);
    background-size: 100% 100%;
    animation-name:banner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes banner {
        0%, 34% {
            background-image: url(assets/imagenes/celular.jpg.jpg);
        }   

        35%, 69% {
            background-image: url(assets/imagenes/marranito.jpg);
        }

        70%, 100% {
            background-image: url(assets/imagenes/familia\ ahorro.jpg) ;
        }
    }


.contenedorbanner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0.5%; 
    
}

.contenedorbanner__banner1  {
    text-align: center;
    border-radius: 8px solid ;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
    background-color: rgb(223, 209, 230);
    border-radius: 20px;
    cursor: default;
    transition:all 400ms ease;    
}

.contenedorbanner__banner1:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.letrahazclic {
    text-decoration: none;   
}




@media screen and (max-width: 1200px){
    .contenedorbanner {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin:1.5px:
    }
     
    .btn-neon {
        margin-left: -13%;
      
    }
}

.bannerimagenes__0 {
    display: flex;
    width:100%;
    height:300px;
    justify-content: center;
    margin-top: 1%;
}


.bannerimagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.titulosimagenes1a6 {
    text-align:center;

}

.h3banners {
    margin-top: 8rem;
    font-size: 2em;
    max-width:max-content;
}
.pbanners {
    font-size: 1em;
    max-width:max-content;
}

.imgbanners {
    width: 100%;
    height: fit-content;
}


@media screen and (max-width: 600px){
    .bannerimagenes {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }

    .imgbanners {
        width: 100%;
        height: fit-content;
    }
     
    .bannerimagenes__0 {
        display: flex;
        width:100%;
        height:200px;
        justify-content: center;
    
    }
}