/* ================================================================================================= */


@media screen and (min-width: 768px){
    .toggle-menu  {
       display: none;
    }  
}



@media screen and (min-width: 768px){
    .toogle-menu  {
       display: none;
    }  
}

@media screen and (min-width: 768px){
    .main-menu {
        flex-direction:row;
        text-align: center;
        transform: translateY(0);
    }    

}

@media screen and (max-width: 1200px){
    .contenedorbanner {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin:1.5px;
    }
     
    .btn-neon {
        margin-left: -13%;
      
    }
}



@media screen and (max-width: 600px){
    .bannerimagenes {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }

    .imgbanners {
        width: 100%;
        height: fit-content;
    }
     
    .bannerimagenes__0 {
        display: flex;
        width:100%;
        height:200px;
        justify-content: center;
    
    }
}


@media screen and (max-width: 1200px){
    .grillaindex {
        display: grid;
        grid-template-columns: 1fr;
        }
 
}